# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/

# dLight specific
*.zip
dlightclient/
dlight-client-*
